/* --------------------------------------------
  Footer
 ---------------------------------------------- */

footer {
  padding-top: 178px;
  background-color: #141414;
  position: relative;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  &::before {
    content: url(../img/footer-shap.png);
    max-width: 520px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    z-index: -1;
    @include breakpoint(max-sm) {
      max-width: 100%;
    }
  }
  h2 {
    font-size: 150px;
    font-style: normal;
    font-weight: 800;
    line-height: 160px;
    @include breakpoint(max-lg) {
      font-size: 100px;
      line-height: 110px;
    }
    @include breakpoint(max-sm) {
      font-size: clamp(20px, 15vw, 80px);
      line-height: 1.4;
    }
  }
  form {
    @include flex(center, space-between);
    padding-bottom: 10px;
    input {
      border: none;
      flex: 1;
      padding: 0;
    }
    border-bottom: 1px solid rgbaGenerate($white, 12%);
  }
  .icon-list {
    @include flex(center, start);
    gap: 14px;
    li {
      a {
        background-color: rgbaGenerate($white, 5%);
        border-radius: 50%;
        border: 1px solid rgbaGenerate($white, 8%);
        @include flex(center, center);
        width: 55px;
        height: 55px;
        font-size: 18px;
        &:hover {
          background-color: $theme-1;
          border: 1px solid $theme-1;
        }
      }
    }
  }
  .footer-menu {
    padding: 60px;
    @include flex(center, space-between);
    gap: 30px;
    flex-wrap: wrap;
    border: 1px solid rgbaGenerate($white, 12%);
    a {
      color: rgbaGenerate($white, 70%);
      font-size: 14px;
      line-height: 28px;
      text-transform: uppercase;
      &:hover {
        color: $theme-1;
      }
    }
  }
  .copyright {
    padding: 35px 0;
    color: rgbaGenerate($white, 35%);
  }
}
